apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: production
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: abbass69/auth-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 9092
          env:
            - name: ENVIRONMENT
              value: "production"
            - name: DB_HOST
              value: "postgres-service"
            - name: DB_PORT
              value: "5432"
            - name: DB_USER
              value: "root"
            - name: DB_PASSWORD
              value: "root"
            - name: DB_NAME
              value: "microservice_db"
            - name: RABBITMQ_URI
              value: "amqp://guest:guest@rabbitmq:5672/"