apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: microservice-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              value: root
            - name: POSTGRES_PASSWORD
              value: root
            - name: POSTGRES_DB
              value: microservice_db
            - name: PGDATA
              value: /var/lib/postgresql/data/pgdata  # مشخص کردن مسیر دیتا
          # اصلاح probeها - اضافه کردن پارامتر -d برای اشاره به دیتابیس موجود
          readinessProbe:
            exec:
              command:
                - pg_isready
                - -U
                - root
                - -d
                - postgres  # استفاده از دیتابیس پیش‌فرض postgres
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 5
            failureThreshold: 3
          livenessProbe:
            exec:
              command:
                - pg_isready
                - -U
                - root
                - -d
                - postgres  # استفاده از دیتابیس پیش‌فرض postgres
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-data
          persistentVolumeClaim:
            claimName: postgres-pvc