apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: production

resources:
  - api-gateway/api-gateway-deployment.yaml
  - app-config.yaml
  - api-gateway/api-gateway-service.yaml
  - auth-service/auth-service.yaml
  - auth-service/auth-service-deployment.yaml
  - postgres-service/postgres-deployment.yaml
  - postgres-service/postgres-service.yaml
  - rabbitmq-service/rabbitmq-deployment.yaml
  - rabbitmq-service/rabbitmq-service.yaml

images:
  - name: api-gateway  # باید با container name در deployment هماهنگ باشد
    newName: 
    newTag: api-gateway-50946fdf0fa25a16c57b14940d9d69609b7644a0

  - name: auth-service  # باید با container name در deployment هماهنگ باشد
    newName: 
    newTag: auth-service-50946fdf0fa25a16c57b14940d9d69609b7644a0
