apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - api-gateway/api-gateway-deployment.yaml
  - app-config.yaml
  - api-gateway/api-gateway-service.yaml
  - auth-service/auth-service.yaml
  - auth-service/auth-service-deployment.yaml
  - postgres-service/postgres-deployment.yaml
  - postgres-service/postgres-service.yaml
  - rabbitmq-service/rabbitmq-deployment.yaml
  - rabbitmq-service/rabbitmq-service.yaml
namespace: production
images:
  - name: api-gateway
    newName: abbass69/microservice
    newTag: api-gateway-b4ee909ea66e1f241ddc5ace5c5b863cfa717604
  - name: auth-service  # برای auth-service
    newName: abbass69/microservice
    newTag: auth-service-b4ee909ea66e1f241ddc5ace5c5b863cfa717604
