apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: production

resources:
  - api-gateway/api-gateway-deployment.yaml
  - app-config.yaml
  - api-gateway/api-gateway-service.yaml
  - auth-service/auth-service.yaml
  - auth-service/auth-service-deployment.yaml
  - postgres-service/postgres-deployment.yaml
  - postgres-service/postgres-service.yaml
  - rabbitmq-service/rabbitmq-deployment.yaml
  - rabbitmq-service/rabbitmq-service.yaml

images:
  - name: api-gateway  # باید با container name در deployment هماهنگ باشد
    newName: 
    newTag: api-gateway-9f90cfd1efd8f4d7ec1845916016858a8941a8f6

  - name: auth-service  # باید با container name در deployment هماهنگ باشد
    newName: 
    newTag: auth-service-9f90cfd1efd8f4d7ec1845916016858a8941a8f6
