apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - api-gateway/api-gateway-deployment.yaml
  - app-config.yaml
  - api-gateway/api-gateway-service.yaml
  - auth-service/auth-service.yaml
  - auth-service/auth-service-deployment.yaml
  - postgres-service/postgres-deployment.yaml
  - postgres-service/postgres-service.yaml
  - rabbitmq-service/rabbitmq-deployment.yaml
  - rabbitmq-service/rabbitmq-service.yaml

namespace: production

images:
  - name: abbass69/microservice
    newName: abbass69/microservice
    newTag: api-gateway-da6aa991ae8d82324fbe279bd1aa9f85fbe25f3d
