apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: rabbitmq
  namespace: production  # تغییر به microservice-dev
spec:
  serviceName: "rabbitmq"
  replicas: 1
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app: rabbitmq
  template:
    metadata:
      labels:
        app: rabbitmq
    spec:
      containers:
        - name: rabbitmq
          image: rabbitmq:3-management
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5672 #AmQ port
            - containerPort: 15672 #Management UI port
          readinessProbe:
            exec:
              command: ["rabbitmq-diagnostics", "check_running"]
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 20
            failureThreshold: 6
            successThreshold: 1
          livenessProbe:
            tcpSocket:
              port: 5672
            initialDelaySeconds: 90
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 3
          resources:
            requests:
              memory: "512Mi"  # کاهش برای محیط توسعه
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"
          env:
            - name: RABBITMQ_DEFAULT_USER
              value: "guest"
            - name: RABBITMQ_DEFAULT_PASS
              value: "guest"
          volumeMounts:
            - mountPath: /var/lib/rabbitmq
              name: rabbitmq-data
  volumeClaimTemplates:
    - metadata:
        name: rabbitmq-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 1Gi