name: Deploy to Dev
concurrency: development
on:
  workflow_dispatch:
  push:
    branches: ["develop"]

permissions:
  id-token: write
  contents: write

jobs:
  tests:
    uses: ./.github/workflows/run-tests.yml
    secrets: inherit
    with:
      environment: development
  build:
    uses: ./.github/workflows/run-build.yml
    needs: tests
    secrets: inherit
    concurrency: build
    with:
      environment: development
  deploy-dev:
    uses: ./.github/workflows/deploy.yml
    secrets: inherit
    needs: build
    concurrency: deploy-dev
    with:
      environment: 'development'